@font-face {
  font-family: 'HelveticaNeue Thin';
  src: url('../assets/fonts/Helvetica-Neue/HelveticaNeueThin.otf') format('otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue Thin Italic';
  src: url('../assets/fonts/Helvetica-Neue/HelveticaNeueThinItalic.otf') format('otf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue UltraLight';
  src: url('../assets/fonts/Helvetica-Neue/HelveticaNeueUltraLight.otf') format('otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue UltraLight Italic';
  src: url('../assets/fonts/Helvetica-Neue/HelveticaNeueUltraLightItalic.otf') format('otf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue Light';
  src: url('../assets/fonts/Helvetica-Neue/HelveticaNeueLight.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue Light Italic';
  src: url('../assets/fonts/Helvetica-Neue/HelveticaNeueLightItalic.otf') format('otf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue Normal';
  src: url('../assets/fonts/Helvetica-Neue/HelveticaNeueRoman.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue Normal Italic';
  src: url('../assets/fonts/Helvetica-Neue/HelveticaNeueItalic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue Medium';
  src: url('../assets/fonts/Helvetica-Neue/HelveticaNeueMedium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue Medium Italic';
  src: url('../assets/fonts/Helvetica-Neue/HelveticaNeueMediumItalic.otf') format('otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue Bold';
  src: url('../assets/fonts/Helvetica-Neue/HelveticaNeueBold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue Bold Italic';
  src: url('../assets/fonts/Helvetica-Neue/HelveticaNeueBoldItalic.otf') format('otf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue Black';
  src: url('../assets/fonts/Helvetica-Neue/HelveticaNeueBlack.otf') format('otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue Black Italic';
  src: url('../assets/fonts/Helvetica-Neue/HelveticaNeueBlackItalic.otf') format('otf');
  font-weight: 900;
  font-style: italic;
}
