*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'HelveticaNeue Normal', sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}
