$white-color: #fff;
$black-color: #000;
$ruby-red-color: #F13024;
$cloud-burst-color: #2E2257;
$meteorite-color: #3b2d71;
$dark-slate-blue-color: #4b3792;
$mirage-color: #131424;
$azure-color: #00abf0;
$french-grey-color: #bfbec4;
$persian-pink-color: #f472b6;

$font-size-3xl: 30px;
$font-size: 18px;
$font-size-medium: 16px;
$font-size-sm: 14px;
$line-height: 24px;
$line-height-sm: 20px;
$line-height-3xl: 36px;

$breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
);
