$white-color: #fff;

$font-size: 18px;
$font-size-medium: 16px;
$font-size-sm: 14px;
$line-height: 24px;
$line-height-sm: 20px;

$breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
);
